@import "./styles/settings.scss";
// @import url("bulma/css/bulma.css");
// @import url("material-design-icons/iconfont/material-icons.css");
html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5%;
  font-family: $text-font-main, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  font-size: 1.6rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: $s;
  font-weight: 600;

  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    color: #ccc;
  }
}

a,
a:visited,
a:active,
button {
  // color: $p-link;
  text-decoration: none;
  transition: 0.2s;
  color: inherit;
}

a.button,
button {
  display: inline-block;
  line-height: $s / 1.2;
  padding: $s / 1.2 $xs;
  color: $p-link;
  background-color: $secondary;
}

button:disabled {
  // background-color: desaturate($color: $p-link, $amount: 10%);
}

a.button:hover,
button:not([disabled]):hover {
  color: $p-link;
  // background-color: lighten($color: $p-link, $amount: 10%);
}

// ul {
//   margin: 0 100em 0 0;
//   padding: 0;
//   list-style: none;

//   li {
//     margin: 0.1rem;

//     a {
//       display: inline-block;
//       width: auto;
//     }
//   }
// }

.loading-group {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      margin-right: $xs / 2;
    }
  }
}

form {
  margin-bottom: $s;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: flex-start;
  // max-width: 5 * $xl;

  .wrong {
    animation: shake 0.42s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .type-select,
  .select-component,
  input {
    font-size: $s;
    margin: $xs;
    margin-left: 0;

    & * {
      box-sizing: border-box;
    }
  }

  .type-select > div {
    border-radius: 8px !important;
    box-shadow: 2px 2px 8px 4px $tertiary;
    border: none !important;
  }

  input,
  select {
    font-size: $s !important;
    line-height: $s + 0.5rem;
    padding: $xs;
    margin: $xs;
    transition: 0.2s;

    &:first-of-type {
      margin-left: 0;
    }
    // min-width: $xl;
    // width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input,
  .select-component {
    border-radius: 8px;
    background: hsl(0, 0%, 93%);
    box-shadow: none;
    border: 2px solid #fff;
    box-sizing: border-box;

    &.danger {
      border: 1px solid $danger;
      outline: none;
    }
  }

  input:disabled {
    cursor: not-allowed;
  }

  input:focus {
    border: 2px solid rgb(136, 177, 253);
    outline: none;
  }

  input.invalid {
    border: 2px solid $danger;
    outline: none;
    // outline-offset: 2px;
  }

  .inline-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      flex: 1;
    }
  }

  // .select-component {
  //   div {
  //     overflow: hidden;
  //   }

  //   & > div {
  //     border: 2px solid #fff;
  //     background: rgb(246, 246, 246);
  //     border-radius: 8px;

  //     display: flex;
  //     // border: 1px solid red;
  //     // & > div {
  //     // }
  //     &:hover {
  //       border: inherit;
  //       // border-color: rgb(136, 177, 253);
  //     }
  //   }
  //   margin: $xs 0;
  // }

  // ul {
  //   flex: 1;
  //   width: 100%;
  //   max-width: 3 * $xl;
  //   & li {
  //     display: flex;
  //     flex-direction: column;
  //     margin: $xs 0;

  //     & > label,
  //     legend {
  //       font-size: $s + 0.2rem;
  //       font-family: $title-font;
  //     }
  //   }
  // }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  input {
    width: 100%;
  }

  li {
    flex: 1 45%;
    margin-right: 2%;

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  &.threes li {
    flex: 1 31%;

    &.small {
      flex: 1 5%;
    }

    &:nth-child(2) {
      margin-right: 2%;
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  hr {
    margin: $xs 0;
  }

  &.assessment-dates {
    li {
      width: auto;
      margin: $xs 0;
    }
  }
}

.component {
  width: 100%;
  padding: $m;
  display: flex;
  flex-direction: column;
  &.form {
    justify-content: center;
    align-items: center;
  }
}

.submit-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#register-link {
  color: rgb(111, 111, 216);
}

h1,
h2,
h3 {
  font-family: $title-font !important;
}

footer {
  background-color: $tertiary;
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $footer-text;
  }
}
