@import "./settings.scss";

// h1 {
//   margin-bottom: 0;
// }

.spinner {
  margin-top: $s;
}

.form {
  justify-content: center;
  align-items: center;
  form {
    justify-content: center;
    align-items: center;
    input {
      margin-top: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;

    li {
      width: 100%;
      padding: $xs;
      line-height: $s;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
