@import "./settings.scss";

.nav-button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  margin: 0 1rem;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  background-color: $navbar;
  height: 6rem;
  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    li {
      a {
        font-size: 1.6rem;
        line-height: 1.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem;
        border-radius: 10px;
      }
    }
  }
}

.logo img {
  height: 3rem;
}

.logo {
  margin-left: 1.5rem;
}

.active-nav {
  // color: #aaa;
  background-color: #888;
}
