@import "./settings.scss";

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-button {
  font-family: "Lato";
  text-decoration: none;
  margin: 0 1rem;
  color: #fff;

  &:hover {
    color: rgb(117, 162, 230);
  }
}

.nav {
  display: flex;
  align-items: center;
  background-color: $navbar;
  height: 6rem;
  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    li {
      a {
        font-size: 1.6rem;
        line-height: 1.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem;
        border-radius: 10px;
      }
    }
  }
}

.logo img {
  height: 3rem;
}

.logo {
  margin-left: 1.5rem;
}

@keyframes dropIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.active-nav {
  // color: #aaa;
  background-color: #888;
}
