// Font imports
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$title-font: "PT Sans";
$text-font-main: "Lato";

// Settings
$navbar: hsl(220, 10%, 10%);
$xs: 0.8rem;
$s: 1.6rem;
$sm: 3.4rem;
$m: 3rem;
$l: 10rem;
$xl: 18rem;
$p-link: hsl(234, 57%, 46%);
// $p-link: #123abc;
$s-link: rgb(117, 117, 255);
$secondary: rgb(238, 245, 252);
$tertiary: rgb(238, 238, 238);
$safety: #419c1d;
$danger: #cf1d1d;

