$navbar: hsl(220, 10%, 10%);
$xs: 0.8rem;
$s: 1.6rem;
$sm: 3.4rem;
$m: 3rem;
$l: 10rem;
$xl: 18rem;
$p-link: hsl(234, 57%, 46%);
// $p-link: #123abc;
$s-link: rgb(117, 117, 255);
$secondary: rgb(238, 245, 252);
$tertiary: rgb(238, 238, 238);
$safety: #419c1d;
$danger: #cf1d1d;
