@import "settings.scss";
.drop {
  height: $l;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $secondary;
  margin: $s 0;

  &:hover {
    cursor: pointer;
  }
}

.top {
  width: 100%;
}

.Upload {
  form {
    width: 600px;

    // .flex-row {
    //   flex: 1;
    //   width: 50%;
    // // }

    .selector {
      flex: 1;
      width: 50%;
      //   margin-left: $s;
    }

    // .selectorElement {
    //   & > div:first-of-type {
    //     // font-size: $s !important;
    //     line-height: $s + 0.5rem;
    //     height: $s;
    //     // padding: $xs;
    //     // margin: $xs 0;
    //     // transition: 0.2s;
    //     & > div:first-of-type {
    //       //   border: 1px solid red;
    //     //   line-height: $s + 0.5rem;
    //     //   height: $s;
    //     }
    //   }
    // }
  }
}
