@import "settings.scss";
.Upload {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 6rem);
  padding: 0;

  align-items: center !important;
  justify-content: space-between !important;

  & > * {
    height: 100%;
  }

  .iframe {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
  }

  img {
    // align-self: stretch;
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
    object-fit: contain;
  }

  form {
    width: 250px;
    padding: $s;

    transform: translate(0, 5px);

    h1 {
      margin-bottom: 0;
    }

    .selectComponent {
      margin: $xs 0;
    }

    input,
    .top {
      width: 100%;
    }

    background-color: white;
    input {
    }

    .top {
      & > div {
        margin: $s 0;
      }
    }
  }
}
.drop {
  height: $l;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  // background-color: white;
  background-color: #f5f5f5;
  margin: $s 0;

  &:hover {
    cursor: pointer;
  }
}

// .top {
//   width: 100%;
// }

// .Upload {
//   form {
//     width: 600px;

//     // .flex-row {
//     //   flex: 1;
//     //   width: 50%;
//     // // }

//     .selector {
//       flex: 1;
//       width: 50%;
//       //   margin-left: $s;
//     }

//     // .selectorElement {
//     //   & > div:first-of-type {
//     //     // font-size: $s !important;
//     //     line-height: $s + 0.5rem;
//     //     height: $s;
//     //     // padding: $xs;
//     //     // margin: $xs 0;
//     //     // transition: 0.2s;
//     //     & > div:first-of-type {
//     //       //   border: 1px solid red;
//     //     //   line-height: $s + 0.5rem;
//     //     //   height: $s;
//     //     }
//     //   }
//     // }
//   }
// }
