@import "settings.scss";
.drop {
  height: $l;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $secondary;
  margin: $s 0;

  &:hover {
    cursor: pointer;
  }
}
